<div class="col-md-3 float-left sidenav">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" routerLink="/users" routerLinkActive="active"> <i class="fa fa-user-circle" aria-hidden="true"></i> User</li>
    <li class="list-group-item" routerLink="/posts" routerLinkActive="active"> <i class="fa fa-tasks" aria-hidden="true"></i> Posts</li>
    <li class="list-group-item" routerLink="/details" routerLinkActive="active"> <i class="fa fa-info-circle" aria-hidden="true"></i> Details</li>
  </ul>
</div>
